@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.banner {
    position: relative;
    width: 100%;
    height: 100vh; 
    overflow: hidden;
  }
  
  .banner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .banner-content {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-20%, -50%);
    text-align: center;
    color: white;
  }
  
  .banner-buttons {
    animation: fadeIn 1s forwards;
    margin-top: 20px;
    text-align: left;
  }
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    margin:  4px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    text-align: center;
    width: 90px;
    height: 45px;
    transition: transform 0.3s ease, color 0.3s ease;
    clip-path: polygon(
      10% 0%,   
      100% 0%,  
      100% 90%, 
      90% 100%, 
      0% 100%,
      0% 10%    
    );
  }
  
  .orange-btn {
    background-color: #ff5500;
    color: white;
  }

  .orange-btn:hover{
    background-color: rgb(87, 233, 233);
    color: black;
    transform: scale(1.1);
  }

  .gray-btn {
    background-color: rgba(17, 17, 17, 0.486);
    color: white;
  }

  .gray-btn:hover{
    background-color: white;
    color: black;
    transform: scale(1.1);
  }
  
  .slick-slider {
    width: 100%;
  }
  
  .slick-slide {
    display: flex;
    justify-content: center;
  }
  
  .slick-slide img {
    width: 100%;
    max-width: 300px;
    height: auto;
  }
  .slick-slide img:hover{
    transform: scale(1.1);
    border-radius: 100px;
    border-color: #ff5500;
    transition: "all 0.3s ease"
  }
  .custom-dot {
    width: "20px";
    background-color: #b3b3b3;
  }
  
  .slick-active .custom-dot {
    width: 30px;
    background-color: #ff5500;
  }

  .intro-section {
    padding: 20px;
    text-align: center;
  }
  
  .intro-heading {
    color: #ff5500;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .intro-section p {
    font-size: 16px;
    line-height: 1.5;
  }